<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <fa-icon class="ml-2 mr-2" [icon]="faVoteYea"></fa-icon>
  <span>E-Voting</span>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Cast your vote</h2>
  
  <div class="card-container">
    <a class="card" target="_blank" rel="noopener">
      <fa-icon class="mr-2" [icon]="faDemocrat"></fa-icon>
      <span>Democrats</span>
    </a>

    <a class="card" target="_blank" rel="noopener">
      <fa-icon class="mr-2" [icon]="faRepublican"></fa-icon>
      <span>Republicans</span>
    </a>

    <a class="card" target="_blank" rel="noopener">
      <fa-icon class="mr-2" [icon]="faFire"></fa-icon>
      <span>Protest Vote</span>
    </a>
  </div>

<router-outlet></router-outlet>